ACME_EMAIL
ALERT_HOUR
ALERT_MINUTE
APACHE_TIKA_DEV_PORT
APACHE_TIKA_IMAGE_TAG
APACHE_TIKA_SERVER
API_DEV_PORT
API_IMAGE_TAG
API_MEMORY_LIMIT
API_MEMORY_RESERVATION
BACKEND_DEV_PORT
BACKEND_IMAGE_TAG
BACKEND_MEMORY_LIMIT
BACKEND_MEMORY_RESERVATION
CELERY_BROKER_URL
CELERY_RESULT_BACKEND
CELERY_WORKER_MEMORY_LIMIT
CELERY_WORKER_MEMORY_RESERVATION
CELERY_WORKER_REPLICAS
CERT_RESOLVER
CITY_DATABASE_CSV
DATA_PROCESSING_DATABASE_RESTORE_FILE
DATA_PROCESSING_IMAGE_TAG
DEBUG
DEFAULT_FROM_EMAIL
DJANGO_SETTINGS_MODULE
DOMAIN
EXECUTION_MODE
FRONT_BASE_URL
GAZETTE_CONTENT_EXACT_FIELD_SUFFIX
GAZETTE_CONTENT_FIELD
GAZETTE_PUBLICATION_DATE_FIELD
GAZETTE_SCRAPED_AT_FIELD
GAZETTE_TERRITORY_ID_FIELD
MAILJET_API_KEY
MAILJET_CUSTOM_ID
MAILJET_SECRET_KEY
MINIO_DEV_PORT
OPENSEARCH_DEV_PORT
POSTGRES_COMPANIES_DB
POSTGRES_COMPANIES_HOST
POSTGRES_COMPANIES_PASSWORD
POSTGRES_COMPANIES_PORT
POSTGRES_COMPANIES_USER
POSTGRES_DEV_PORT
PROJECT_TITLE
QD_API_THEME
QD_API_URL
QD_BACKEND_ALLOWED_HOSTS
QD_BACKEND_ALLOWED_ORIGIN_REGEXES
QD_BACKEND_ALLOWED_ORIGINS
QD_BACKEND_CSRF_TRUSTED_ORIGINS
QD_BACKEND_DB_USER
QD_BACKEND_DEBUG
QD_BACKEND_SECRET_KEY
QD_DATA_DB_HOST
QD_DATA_DB_NAME
QD_DATA_DB_PASSWORD
QD_DATA_DB_PORT
QD_DATA_DB_USER
QUERIDO_DIARIO_API_ROOT_PATH
QUERIDO_DIARIO_CORS_ALLOW_CREDENTIALS
QUERIDO_DIARIO_CORS_ALLOW_HEADERS
QUERIDO_DIARIO_CORS_ALLOW_METHODS
QUERIDO_DIARIO_CORS_ALLOW_ORIGINS
QUERIDO_DIARIO_FILES_ENDPOINT
QUERIDO_DIARIO_OPENSEARCH_HOST
QUERIDO_DIARIO_OPENSEARCH_INDEX
QUERIDO_DIARIO_OPENSEARCH_PASSWORD
QUERIDO_DIARIO_OPENSEARCH_USER
QUERIDO_DIARIO_SUGGESTION_RECIPIENT_EMAIL
QUERIDO_DIARIO_SUGGESTION_RECIPIENT_NAME
QUERIDO_DIARIO_SUGGESTION_SENDER_NAME
QUOTATION_TO_EMAIL
REDIS_DEV_PORT
SERVER_EMAIL
STATIC_URL
STORAGE_ACCESS_KEY
STORAGE_ACCESS_SECRET
STORAGE_BUCKET
STORAGE_ENDPOINT
STORAGE_REGION
THEMED_EXCERPT_CONTENT_EXACT_FIELD_SUFFIX
THEMED_EXCERPT_CONTENT_FIELD
THEMED_EXCERPT_EMBEDDING_SCORE_FIELD
THEMED_EXCERPT_ENTITIES_FIELD
THEMED_EXCERPT_FRAGMENT_SIZE
THEMED_EXCERPT_NUMBER_OF_FRAGMENTS
THEMED_EXCERPT_PUBLICATION_DATE_FIELD
THEMED_EXCERPT_SCRAPED_AT_FIELD
THEMED_EXCERPT_SUBTHEMES_FIELD
THEMED_EXCERPT_TERRITORY_ID_FIELD
THEMED_EXCERPT_TFIDF_SCORE_FIELD
THEMES_DATABASE_JSON
TRAEFIK_LOG_LEVEL
